*{
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #fff 50%, #5bdae3 50%);;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 60px;
    background-color: #fff;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #000;
    font-weight: 600;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
ul li a:hover {
    border-top:2px solid #5bdae3;
    border-bottom:2px solid #5bdae3;
    color: #5bdae3;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #5bdae3;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

nav form input[type="text"] {
    padding: 10px;
    border: solid 1px #5bdae3;
    border-radius: 5px;
    margin-right: 10px;

}

nav form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5bdae3;
    color: #fff;
    cursor: pointer;
}

.upload-container {
    text-align: left;

    margin-top: 140px;
    margin-left: 80px;
}

h1 {
    margin-bottom: 20px;
    font-weight: 500;
}



.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    border: none;
    /* border-radius: 5px;
    font-size: 16px; */
    transition: background-color 0.3s ease;
    /* margin-bottom: 15px; */
}

.custom-file-upload:hover {
    /* background-color: #0056b3; */
    opacity: 0.7;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.upload-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #5bdae3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #5bdae3;
}

.video-detect{
    /* margin-top: 15px; */
    margin-left: 15px;
    padding: 19px;
}

.video-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.video-upload{
   /* margin-left: 15px; */
    padding: 20px;
}

.video-main h2{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}