<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/index.css">
    <title>Video Object Detection</title>
    <style>
        /* Loading bar styles */
        .loading-bar {
            display: none;
            width: 100%;
            height: 4px;
            background: linear-gradient(to right, #4caf50, #81c784);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            animation: loading 2s infinite;
        }

        @keyframes loading {
            0% { transform: translateX(-100%); }
            100% { transform: translateX(100%); }
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <div class="logo content" style="margin:0px;">Video Object Detection<a href="#"></a></div>
            <ul class="links">
                <li>
                    <form id="search-form" action="/search" method="post" enctype="multipart/form-data">
                        <input type="text" name="name" placeholder="Enter Object" required>
                        <input type="submit" value="Search">
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="loading-bar" id="loading-bar"></div> <!-- Loading bar element -->

        <div class="content">
            <!--<h1>Upload Video for Object Detection</h1>-->
            <div class="upload-container">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <span>Choose Video</span>
                    <label class="custom-file-upload">
                        <input type="file" name="file" accept="video/*">
                        <span class="material-symbols-outlined">
                            upload_file
                        </span>
                    </label>
                    <input type="submit" value="Upload" class="upload-button">
                </form>
            </div>

            {% if send_file or object_name %}
            <div class="video-main">
                <div class="video-upload">
                    <h2>Original Video Stream</h2>
                    <video width="720" height="410" controls autoplay>
                        <source src="static/uploads/input.mp4?v={{ timestamp }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="video-detect">
                    <h2>Processed Video Stream</h2>
                    <img id="video" src="{{ url_for('video_feed',object_name=object_name) }}" width="720" height="410">
                </div>
            </div>
            {% endif %}
        </div>
    </main>

    <script>
        document.getElementById('search-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const loadingBar = document.getElementById('loading-bar');
            loadingBar.style.display = 'block';

            const formData = new FormData(event.target);

            fetch('/search', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Update the src attribute of the img element with ID video
                const videoElement = document.getElementById('video');
                if (data.video_url) {
                    videoElement.src = data.video_url;
                } else {
                    console.error('Video URL not found in the response:', data);
                }

                // Hide the loading bar after 1 second
                setTimeout(() => {
                    loadingBar.style.display = 'none';
                }, 1000);
            })
            .catch(error => {
                // Hide the loading bar after 1 second even if there's an error
                setTimeout(() => {
                    loadingBar.style.display = 'none';
                }, 1000);
                console.error('There has been a problem with your fetch operation:', error);
            });
        });

        window.addEventListener('load', function() {
            document.getElementById('loading-bar').style.display = 'none';
        });
    </script>
</body>
</html>
